html {
    font-family: cursive;
    box-sizing: border-box;
    margin: 150 px;
    padding: 8 px;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

h1 {
    color: darkred;
    font-size: 45 px;
}

* {
    color: #fff;
    font-family: cursive;
    margin: 15 px;
    font-size: 20 px;
}
