html {
    background-color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 50 px;
    padding: 35 px;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

h1 {
    font-family: cursive;
    color: dimgray;
    font-size: 45 px;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 25 px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22 px; 
}

.list {
    display: block;
    margin-right: auto;
    font-family: cursive;
    font-size: 16 px;
}

.method {
    font-family: cursive;
    font-size: 18 px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    font-size: 22 px;
    padding-left: 18 px;
}

.Mainimage {
    margin: 18 px;
    border: 3 px solid #FFF8DC;
    border-radius: 10 px;
    border-width: 5 px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:43 %;
    height: auto;

}

.wrapper {
    margin: 100 px auto;
    width: 80 %;
}

.image1 {
    max-width: 450 px;
    float: right;
}

.text-box ul  {
    color: black;
}

.wrapper2 {
    margin: 100 px auto;
    width: 80 %;
}

.image2 {
    max-width: 450 px;
    float: right;
}


.text-box ol {
    color: black;
}

.row {
  display: flex;

}


.colum {
  flex: 30 %; 
  padding: 8 px;
  margin-left: 9 %;
}




